.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/freeline
.idea
*.iml
#gradle.properties
gradle/wrapper/gradle-wrapper.properties
/test
/app/assets/skin
infer-out
build

.externalNativeBuild

pingstart2/build/
